In [1]:
print("Hello World")

Hello World

In [3]:
list = [1,2,3,12,24,35,56]

In [4]:
list

[1, 2, 3, 12, 24, 35, 56]

In [21]:
import pandas as pd

In [29]:
Tab = pd.read_csv("Tab.csv")

In [30]:
Tab

  Unnamed: 0     Negara  Populasi    Area    Ibukota
0         IN  Indonesia       250  123456    Jakarta
1         MA   Malaysia        25    3456         KL
2         SI  Singapura        15     456  Singapura
3         JP     Jepang        60    5678      Tokyo
4         TH   Thailand        45     678    Bangkok